@custom-media --media-lg (max-width: 1440px);
@custom-media --media-md (max-width: 900px);
@custom-media --media-sm (max-width: 500px);

@custom-selector :--spicy #spicy;
@custom-selector :--smooth #smooth;

:root {
    --salsa: #f70201;
    --caramel: #ca774a;
    --yellow: #fed859;
    --verde: #2a9556;
    --sky-blue: #81b2db;
    --white: #ffffff;
    --black: #151620;

    --text-on-light-bg: var(--black);
    --text-on-dark-bg: var(--white);

    --body-color: var(--white);
    --image-placeholder-bg: var(--black);

    --gutter: 48px;

    --header-height: 80px;

    --hero-height: calc(100vh - var(--header-height));

    --cta-height: 1140px;
    --cta-margin: 88px;

    --grid-width: 1344px;

    --section-padding: 120px;
    --section-spacer: 90px;

    --logo-width: 100%;

    --text-block-width-sm: 486px;

    --text-margin: 40px;

    --button-height: 64px;
    --button-width: 200px;
    --button-padding: 32px;
    --button-margin: 64px;
}

[data-theme="spicy"] {
    --primary-color: var(--salsa);
    --grid-gap: 64px;
    --text-block-width-md: 634px;
}

[data-theme="spicy"] :--smooth {
    display: none;
}

[data-theme="smooth"] {
    --primary-color: var(--caramel);
    --grid-gap: 32px;
    --text-block-width-md: 751px;
}

[data-theme="smooth"] :--spicy {
    display: none;
}

@media (--media-md) {
    :root {
        --gutter: 24px;

        --text-block-width-sm: 100%;
    }
}

@media (--media-sm) {
    :root {
        --hero-height: calc(50vh - var(--header-height));

        --cta-height: 70vh;

        --logo-width: 150.25px;

        --text-margin: 20px;

        --button-height: 48px;
        --button-width: auto;
        --button-padding: 24px;
        --button-margin: 48px;
    }
}

body {
    background-color: var(--body-color);
}

.button {
    display: inline-block;
    height: var(--button-height);
    min-width: var(--button-width);
    background-color: var(--primary-color);
    color: var(--text-on-dark-bg);
    padding: 0 var(--button-padding);
    border: 1px solid var(--primary-color);
    line-height: var(--button-height);
}

.button-secondary {
    background-color: transparent;
    border: 1px solid var(--white);
}

.text-block.center {
    text-align: center;
}

.text-block.medium {
    max-width: var(--text-block-width-md);
}

.text-block.small {
    max-width: var(--text-block-width-sm);
}

.text-block p {
    margin-top: var(--text-margin);
}

.text-block .lead {
    margin-top: 0;
}

.text-block .button {
    margin-top: var(--button-margin);
}

header, footer, .logo {
    display: flex;
    align-items: center;
}

header {
    background-color: var(--primary-color);

    height: var(--header-height);
    padding: 0 var(--gutter);

    justify-content: space-between;
}

footer {
    padding: var(--section-padding) 0;

    justify-content: center;
}

.logo img {
    width: var(--logo-width);
}

section {
    padding-top: var(--section-padding); 
}

section.full-width {
    padding-top: 0;
}

section div {
    margin: 0 auto var(--section-spacer) auto;
}

section div:last-child {
    margin-bottom: 0;
}

.full-width {
    background-color: var(--image-placeholder);
    color: var(--text-on-dark-bg);

    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;

    display: flex;
    flex-direction: row;
    align-items: center;

    background-image: inherit;
    background-size: cover;
    background-position: center;
}

.hero {
    height: var(--hero-height);

    background-image: image-set( "img/rainbow.jpg" 1x, "img/rainbow@2x.jpg" 2x );
}

.cta {
    height: var(--cta-height);
    margin: var(--cta-margin) 0;

    background-image: image-set( "img/green-wall.jpg" 1x, "img/green-wall@2x.jpg" 2x );
}

.cta+section {
    padding-top: 0;
}

.grid {
    max-width: var(--grid-width);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--grid-gap);
    align-items: center;
}

@media (--media-lg) {
    section:not(.full-width) {
        margin: 0 var(--gutter);
    }
}

@media (--media-md) {
    .grid {
        grid-template-columns: 1fr;
    }

    .grid img {
        width: 100%;
    }
}

@supports(padding: max(0px)) {
    header {
        padding-left: max(24px, env(safe-area-inset-left));
        padding-right: max(24px, env(safe-area-inset-right));
    }

    .grid {
        padding-left: min(24px, env(safe-area-inset-left));
        padding-right: min(24px, env(safe-area-inset-right));
    }
}