@custom-media --media-md (max-width: 900px);
@custom-media --media-sm (max-width: 500px);

@font-face {
    font-family: "Jost";
    font-weight: normal;
    src: url(fonts/jost-book.woff2), url(fonts/jost-book.woff);
}

@font-face {
    font-family: "Jost";
    font-weight: bold;
    src: url(fonts/jost-semi.woff2), url(fonts/jost-semi.woff);
}

@font-face {
    font-family: "Bagnard";
    src: url(fonts/bagnard.woff2), url(fonts/bagnard.woff);
}

@font-face {
    font-family: "Roboto Mono";
    font-weight: normal;
    src: url(fonts/roboto-mono-light.woff2), url(fonts/roboto-mono-light.woff);
}

@font-face {
    font-family: "Roboto Mono";
    font-weight: bold;
    src: url(fonts/roboto-mono-medium.woff2), url(fonts/roboto-mono-medium.woff);
}

@font-face {
    font-family: "Calafia";
    src: url(fonts/calafia.woff2), url(fonts/calafia.woff);
}

:root {
    --bagnard: "Bagnard", serif;
    --jost: "Jost", sans-serif;
    --calafia: "Calafia", cursive;
    --roboto-mono: "Roboto Mono", monospace;

    /* Spicy = Bagnard/Jost */
    /* Smooth = Calafia/Roboto Mono */
    --title-font: var(--calafia);
    --body-font: var(--roboto-mono);

    --size-lg: 24px;
    --size-sm: 18px;

    /* Spicy = 24px */
    /* Smooth = 18px */
    --body-size: var(--size-sm);
    --h1-size: 96px;
    --h2-size: 64px;
    --h3-size: 32px;
    --button-size: 16px;

    --height-lg: 2.2;
    --height-sm: 1.6;

    /* Spicy = 1.6 */
    /* Smooth = 2.2 */
    --body-line-height: var(--height-lg);
}

@media (--media-md) {
    :root {
        --body-size: 16px;
        --h1-size: 64px;
        --h2-size: 48px;
        --h3-size: 24px;
        --button-size: 14px;
    }
}

@media (--media-sm) {
    :root {
        --h1-size: 40px;
        --h2-size: 32px;
    }
}

body {
    font-family: var(--body-font);
    font-size: var(--body-size);
    line-height: var(--body-line-height);
}

h1, h2, h3 {
    font-family: var(--title-font);
    line-height: 1.3;
}

h1 {
    font-size: var(--h1-size);
}

h2 {
    font-size: var(--h2-size);
}

h3 {
    font-size: var(--h3-size);
}

.lead {
    letter-spacing: 3px;
    text-transform: uppercase;
}

.button {
    font-size: var(--button-size);
    font-weight: bold;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}